In [3]:
from IPython.display import display
import pandas as pd
import gzip
import os
import csv
from collections import defaultdict

types = defaultdict(int, token = "string")
numbers = list(range(1,535)) 
names = ['token']
names = names + numbers

In [9]:
dList = []
#df = pd.read_csv('C:/Users/bincl/BA-Thesis/Dataset/1gram/1_20000_nopos.gz', compression= 'gzip', header=None, chunksize= 10000, names = list(range(0,535)),sep='\t',error_bad_lines=False, quoting=csv.QUOTE_NONE)
df = pd.read_csv('C:/Users/bincl/BA-Thesis/Dataset/3gram/3_20000_nopos_sample.zip', compression= 'zip',  header=None, index_col= [0],dtype= str,chunksize= 100000, names = names,sep='\t', quoting=csv.QUOTE_NONE)

In [10]:
for chunk in df: 
    display(chunk)  
    break

,1,2,3,4,5,6,7,8,9,10,...,525,526,527,528,529,530,531,532,533,534
token,,,,,,,,,,,,,,,,,,,,,
""" Bis seine","1736,1,1","1754,1,1","1828,1,1","1840,2,1","1841,1,1","1852,2,2","1867,1,1","1875,2,2","1876,1,1","1884,1,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
""" -- Vorgehen","1886,2,2","1902,2,2","1907,1,1","1908,1,1","1909,1,1","1916,1,1","1971,1,1","1972,1,1","1973,1,1","1975,2,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
""" : Oesterreich","1636,1,1","1692,1,1","1743,1,1","1844,1,1","1845,6,6","1850,1,1","1854,1,1","1855,1,1","1856,2,2","1859,3,3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
""" Geht 's","1640,1,1","1698,1,1","1824,2,2","1825,1,1","1830,2,2","1835,4,4","1836,9,7","1837,1,1","1838,1,1","1839,1,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
""" Geschlecht '","1754,1,1","1854,3,3","1858,1,1","1872,3,3","1875,1,1","1898,2,2","1899,1,1","1900,2,2","1901,2,1","1902,1,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
( MÃ¼nster 1930,"1930,5,3","1931,18,15","1932,9,8","1933,6,4","1934,5,4","1935,8,5","1936,3,3","1937,6,4","1938,1,1","1939,1,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
( Besetzung durch,"1859,4,2","1878,5,5","1881,1,1","1883,1,1","1889,1,1","1907,1,1","1913,6,6","1923,1,1","1926,1,1","1930,1,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
( Hier scheint,"1751,1,1","1753,1,1","1776,1,1","1784,1,1","1789,7,7","1790,2,2","1792,2,2","1793,1,1","1797,1,1","1798,1,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
( Inst. -,"1867,1,1","1870,1,1","1883,1,1","1886,1,1","1888,1,1","1890,1,1","1894,1,1","1895,1,1","1901,1,1","1905,1,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"( Prag ,","1779,1,1","1780,2,2","1783,1,1","1785,6,2","1788,7,5","1789,2,2","1790,1,1","1792,1,1","1795,3,3","1797,3,3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

def find_n_gram(direc, find):
    for filename in os.listdir(direc):
        f = os.path.join(direc, filename)
        # checking if it is a file
        if os.path.isfile(f):
            print(f)
            with gzip.open(f,'rt', encoding='utf-8') as input:
                str_arr_csv = input.readlines()
                for line in str_arr_csv:
                    token = line.split("\t")
                    if find == token[0]:
                        return line
                        
    return "line not found"

In [12]:
search = 'Bis seine'
directory = 'C:/Users/bincl/BA-Thesis/Dataset/2gram'
result = find_n_gram(directory,search)
print(result)

if result == "line not found":
    exit()
    
lower_ngram = pd.Series(result,dtype= "string")
lower_ngram.str.split("\t")
display(lower_ngram)

C:/Users/bincl/BA-Thesis/Dataset/2gram\2_20000_nopos_aa.gz
C:/Users/bincl/BA-Thesis/Dataset/2gram\2_20000_nopos_ab.gz
Bis seine	1623,1,1	1648,1,1	1702,1,1	1719,2,2	1721,1,1	1736,1,1	1744,1,1	1745,1,1	1751,1,1	1754,3,3	1767,1,1	1768,1,1	1771,1,1	1785,2,2	1788,3,3	1794,15,15	1796,15,15	1798,2,2	1799,1,1	1800,1,1	1804,2,2	1805,9,5	1807,1,1	1808,3,3	1810,4,4	1812,1,1	1813,1,1	1814,1,1	1815,6,6	1816,3,3	1817,2,2	1818,3,3	1819,2,2	1820,1,1	1823,5,4	1825,2,1	1826,2,2	1827,11,11	1828,1,1	1829,1,1	1830,1,1	1831,2,2	1832,1,1	1833,6,6	1834,7,7	1835,9,9	1836,1,1	1837,3,3	1838,4,4	1839,6,6	1840,5,4	1841,9,9	1842,7,7	1843,5,5	1844,3,3	1845,18,11	1846,9,9	1847,4,4	1850,2,2	1851,5,2	1852,8,8	1853,4,4	1854,7,7	1855,13,13	1856,5,5	1857,6,5	1858,5,3	1859,13,13	1860,2,2	1861,12,12	1862,10,10	1863,7,7	1864,5,5	1865,3,3	1866,15,14	1867,8,8	1868,13,13	1869,4,4	1870,10,10	1871,3,3	1872,9,9	1873,4,4	1874,3,3	1875,10,10	1876,16,16	1877,5,5	1878,7,7	1879,18,18	1880,8,7	1881,4,4	1882,13,13	1883,6,6	1884,22,22	1885,10,10	1886,3,3	1887,22,22	1888,6,6	1889,8,8	1890,10,10	1891,10,10	1892,10,10	1893,12,12	1894,21,21	1895,9,8	1896,5,5	1897,23,23	1898,15,14	1899,13,13	1900,22,22	1901,8,7	1902,18,17	1903,19,18	1904,8,8	1905,9,9	1906,15,15	1907,30,30	1908,18,18	1909,10,10	1910,18,18	1911,20,19	1912,12,11	1913,20,20	1914,23,23	1915,5,5	1916,10,10	1917,14,14	1918,7,7	1919,14,13	1920,3,3	1921,16,16	1922,26,21	1923,6,6	1924,10,10	1925,11,11	1926,11,11	1927,19,17	1928,12,12	1929,3,3	1930,12,12	1931,10,10	1932,7,7	1933,3,3	1934,3,3	1935,7,7	1936,8,8	1937,10,10	1938,7,5	1939,5,5	1940,7,7	1941,5,5	1942,5,5	1943,11,10	1944,4,4	1945,3,3	1946,5,5	1947,2,2	1948,12,12	1949,10,10	1950,10,9	1951,7,7	1952,11,11	1953,2,2	1954,8,8	1955,10,9	1956,15,15	1957,16,16	1958,19,19	1959,18,18	1960,25,24	1961,13,11	1962,17,17	1963,18,16	1964,29,24	1965,34,30	1966,17,17	1967,24,24	1968,26,23	1969,10,10	1970,17,15	1971,17,13	1972,15,15	1973,7,7	1974,18,15	1975,14,14	1976,19,19	1977,21,21	1978,25,25	1979,24,24	1980,15,15	1981,28,27	1982,22,21	1983,10,10	1984,20,20	1985,41,35	1986,20,20	1987,6,5	1988,17,17	1989,22,22	1990,15,14	1991,17,17	1992,24,24	1993,12,12	1994,19,19	1995,14,14	1996,14,14	1997,21,21	1998,22,17	1999,23,23	2000,27,27	2001,14,14	2002,18,18	2003,27,26	2004,23,21	2005,34,34	2006,31,30	2007,44,44	2008,38,38	2009,87,83	2010,85,83	2011,119,117	2012,226,216	2013,184,179	2014,301,290	2015,336,319	2016,302,294	2017,328,314	2018,291,285	2019,308,301

0    Bis seine	1623,1,1	1648,1,1	1702,1,1	1719,2,2	...
dtype: string